{% include "header.html" %}

    <!-- Page Header-->
<header class="masthead d-flex flex-column justify-content-center mx-5 rounded-4 my-3" style="background-image: url(/static/assets/img/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg);">
  <div class="p-3 me-3 rounded-3">
    <div class="container-fluid py-5 text-center text-light rounded-3">
      <h1>Welcome to babblog</h1>
      <span class="subheading">Here you can find a collection of cool yet random blog posts.</span>
    </div>
  </div>
</header>
    <!-- Flash messeges -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash alert alert-{{ category }} mx-5" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

          
        <!-- Main Content-->
    <div class="container p-2">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <!-- Post preview-->
                {% for post in all_posts.items %}
                <div class="post-preview ">
                  <a href="{{ url_for('show_post', post_id=post.id) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                  </a>
                  <p class="post-meta">
                    Posted by
                    <a href="{{ url_for('view_user_profile', user_id=post.author.id) }}">{{post.author.name}}</a>
                    on {{post.date}}

                    <!-- Only show delete button if user id is 1 (admin user) -->
                    {% if current_user.id == 1 %}
                    <a href="{{url_for('delete_post', post_id=post.id) }}" style="color: crimson">✘</a>
                    {% endif %}
                  </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
                
                <!-- New Post -->
                <!-- Only show Create Post button if user id is 1 (admin user) -->
                {% if current_user.id == 1 %}
                <div class="d-flex justify-content-end mb-4">
                    <a
                    class="btn btn-primary float-right"
                    href="{{url_for('add_new_post')}}"
                    >Create New Post</a
                    >
                </div>
                {% endif %}

                <!-- Pager-->
                {% if all_posts.pages > 1 %}
                <nav aria-label="Page navigation example">
                  <ul class="pagination mt-5 mb-0 justify-content-center">

                    <!-- Previous page -->
                    {% if all_posts.has_prev %}
                      <li class="page-item">
                        <a class="page-link" href="{{ url_for('get_all_posts', page=all_posts.prev_num)}}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                    {% endif %}

                    <!-- Pagination -->
                    {% for page_num in all_posts.iter_pages() %}
                      {% if page_num %}
                        {% if all_posts.page == page_num %}
                          <li class="page-item"><a class="page-link active" href="{{ url_for('get_all_posts', page=page_num )}}">{{ page_num }}</a></li>
                        {% else %}
                          <li class="page-item"><a class="page-link" href="{{ url_for('get_all_posts', page=page_num )}}">{{ page_num }}</a></li>
                        {% endif %}
                      {% else %}
                      ...
                      {% endif %}
                    {% endfor %}

                    <!-- Next page -->
                    {% if all_posts.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="{{ url_for('get_all_posts', page=all_posts.next_num)}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</body>

{% include "footer.html" %}


