{% from "bootstrap5/form.html" import render_form %} 
{% include "header.html" %}


<!-- Page Header-->
<header class="masthead d-flex flex-column justify-content-center mx-5 rounded-4 my-3" style="background-image: url(/static/assets/img/login-bg.jpg);">
  <div class="p-3 me-3 rounded-3">
    <div class="container-fluid py-5 text-center text-light rounded-3">
      <h1>Log In</h1>
      <span class="subheading">Welcome Back!</span>
    </div>
  </div>
</header>

<!-- Flash messeges -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash alert alert-{{ category }} mx-5" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--Login form-->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
