{% from "bootstrap5/form.html" import render_form %}
{%include "header.html" %}

<!-- Page Header-->

<header class="masthead mx-5 rounded-4 my-3" style="background-image: url('../static/assets/img/edit-bg.jpg');">
  <div class="p-3 me-3 rounded-3">
    <div class="container-fluid py-5 text-center text-light rounded-3">
      {% if is_edit: %}
      <h1>Edit Post</h1>
      {% else: %}
      <h1>New Post</h1>
      {% endif %}
      <span class="subheading">You're going to make a great blog post!</span>
      </div>
    </div>
  </header>

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
        render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>
{% include "footer.html" %}
