{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- Page Header-->

<header class="masthead mx-5 rounded-4 my-3" style="background-image: url('{{ post.img_url }}');">
    <div class="container">
      <div class="container-fluid py-5 text-center text-light rounded-3">
        <h1>{{ post.title }}</h1>
        <h3 class="subheading">{{ post.subtitle }}</h2>
        <span class="meta">
            Posted by
            <a href="#" class="text-decoration-none">{{ post.author.name }}</a>
            on {{ post.date }}
        </span>
      </div>
    </div>
  </header>

<!-- Flash messeges -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash alert alert-{{ category }} mx-5" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<article>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="postBody">
                    {{ post.body|safe }}
                </div>
                <!-- Only show Edit Post button if user id is 1 (admin user) -->
                {% if current_user.id == 1 %}
                <div class="editPost-btn d-flex">
                    <a class="btn btn-primary" href="{{url_for('edit_post', post_id=post.id)}}"><i class="bi bi-pencil-fill"></i> Edit Post</a>
                </div>
                {% endif %}


                <!-- Comments Area -->
                <h4>{{ post.post_comments|length }} comments</h4>
                <div class="comment border-top">
                    <ul class="commentList col-md-8">
                        <!-- Show all comments -->
                        {% for comment in post.post_comments %}
                            <li class="commentCard rounded-3 p-3">
                                <div class="commenterInfo d-flex flex-row">
                                    <a href="#"><img src="{{ comment.comment_author.profile_picture }}" alt="mdo" width="32" height="32" class="rounded mx-auto d-block"/></a>
                                    <div class="d-flex flex-column justify-content-start">
                                        {% if comment.comment_author.id == 1 %}
                                        <span>
                                            <a class="commenterName text-decoration-none" href="{{ url_for('view_user_profile', user_id=comment.comment_author.id) }}" style="color: crimson;">{{ comment.comment_author.name }}</a>
                                        </span>
                                        {% else %}
                                        <span>
                                            <a class="commenterName text-decoration-none" href="{{ url_for('view_user_profile', user_id=comment.comment_author.id) }}">{{ comment.comment_author.name }}</a>
                                        </span>
                                        {% endif %}
                                        <span class="date text-body-secondary" >Commented - {{ comment.created_at.strftime("%d %b %Y") }}</span>
                                    </div>
                                </div>
                                <div class="commentTextArea mt-2">
                                    <p class="commentText">{{comment.text|safe }}</p>
                                </div>
                                <div class="media-icons">
                                    <div class="d-flex flex-row fs-12">
                                        <div class="like p-1 cursor text-body-secondary">
                                            <!-- TODO: Add working likes -->
                                            {% if current_user.is_authenticated %}
                                            <a class="like-comment" href="#" onclick="likeComment({{ comment.id }})">
                                                <i class="bi bi-hand-thumbs-up-fill"></i>
                                            </a>
                                            <span class="ms-1" id="likeCount_{{ comment.id }}">{{ comment.likes_count }}</span>
                                        {% else %}
                                            <i class="bi bi-hand-thumbs-up-fill"></i>
                                            <span class="ms-1">{{ comment.likes_count }}</span>
                                        {% endif %}
                                        {% if current_user and current_user.id == comment.comment_author.id or current_user.id == 1 %}
                                        <div class="delete p-1 cursor text-body-secondary">
                                            <a class="delete-comment" href="{{ url_for('delete_comment', comment_id=comment.id) }}">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                                <span class="ms-1">Delete</span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <!-- Comment Form Container -->
                        {% if current_user.is_authenticated %}
                        <div class="post-comment bg-light rounded-3 p-2">
                            <div class="d-flex flex-row align-items-start">
                                <img src="{{ current_user.profile_picture }}" alt="mdo" width="32" height="32" class="rounded mx-auto d-block">
                                    <div class="formContainer form-control bg-body-tertiary border-0 shadow-none">
                                        {{ render_form(form, novalidate=True, button_map={"submit": "btn btn-outline-primary btn-sm"}) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

{% include "footer.html" %}

<script>
    // Toggle Comment Form visibility
    function toggleCommentForm() {
        var commentFormContainer = document.querySelector('.comment-form-container');
        var addCommentButton = document.getElementById('addCommentButton');

        commentFormContainer.classList.toggle('hidden');
        addCommentButton.innerText = (addCommentButton.innerText === 'Add Comment') ? 'Cancel' : 'Add Comment';
        addCommentButton.classList.toggle('btn-primary');
        addCommentButton.classList.toggle('btn-outline-danger');
    }

    function likeComment(commentId) {
        // Wyślij żądanie AJAX
        fetch(`/like_comment/${commentId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token() }}'  // Dodaj token CSRF
            },
        })
        .then(response => response.json())
        .then(data => {
            // Zaktualizuj licznik lajków na stronie
            const likeCountElement = document.getElementById(`likeCount_${commentId}`);
            likeCountElement.innerText = data.likes_count;
        })
        .catch(error => console.error('Error:', error));
    }

</script>
