{% from "bootstrap5/form.html" import render_form %} 
{% block content %} 
{% include "header.html" %}

<!-- Page Header-->
<header class="masthead mx-5 rounded-4 my-3" style="background-image: url(/static/assets/img/register-bg.jpg);">
  <div class="p-3 me-3 rounded-3">
    <div class="container-fluid py-5 text-center text-light rounded-3">
      <h1>Register</h1>
      <span class="subheading">Start Contributing to the Blog!</span>
    </div>
  </div>
</header>

<!-- Flash messeges -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash alert alert-{{ category }} mx-5" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--Render your registration form here-->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} 
{% endblock %}
