{% from "bootstrap5/form.html" import render_form %} 
{% block content %} 
{% include "header.html" %}

<!-- Page Header-->

<header class="masthead mx-5 rounded-4 my-3" style="background-image: url(/static/assets/img/login-bg.jpg);">
  <div class="p-3 me-3 rounded-3">
    <div class="container-fluid py-5 text-center text-light rounded-3">
      <h1 class="display-5 fw-bold">Register</h1>
        <p class="fs-4">Start Contributing to the Blog!</p>
      </div>
    </div>
  </header>


<main class="mb-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--TODO: render your registration form here-->
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %} 
{% endblock %}
