{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}


<body>
    <div class="container-fluid m-5">
        <!-- Flash messeges -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash alert alert-{{ category }} mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="h-100 p-5 mx-5 bg-body-tertiary border rounded-3">


            <!-- Profile picture -->
            <div class="profile-header">
                <div class="profile-picture-container">
                    <img src="{{ current_user.profile_picture }}" alt="Profile Picture">
                </div>
            </div>

            <!-- Profile information -->
            <div class="profile-section">
                <h2 class="mb-3">Profile Information</h2>
                <p><strong>Name:</strong> {{ current_user.name }}</p>
                <p><strong>Email:</strong> {{ current_user.email }}</p>
                <button class="edit-btn btn btn-outline-secondary my-3" onclick="startEditing()">Edit Profile</button>
            </div>
            <!-- Profile information change form -->
            <div class="profile-form" style="display: none;">
                <h2>Edit Profile</h2>
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                <button class="cancel btn btn-outline-danger my-2" type="button" onclick="cancelEditing()">Cancel</button>
            </div>

        </div>
    </div>
</body>


<script>
    function startEditing() {
        document.querySelector('.profile-section').style.display = 'none';
        document.querySelector('.profile-form').style.display = 'block';
        document.querySelector('.edit-btn').style.display = 'none';
    }

    function cancelEditing() {
        document.querySelector('.profile-section').style.display = 'block';
        document.querySelector('.profile-form').style.display = 'none';
        document.querySelector('.edit-btn').style.display = 'inline-block';
    }
</script>

{% include "footer.html" %}
