{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}

<main>
    <!-- Flash messeges -->
    <div class="flash mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash alert alert-{{ category }} mx-5" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- Page Header-->
    <div class="card mx-5 my-3 border-0">
        <svg class="bd-placeholder-img card-img-top py-4 text-center text-light rounded-4" style="background-image: url(/static/assets/img/home.jpg);"></svg>
            <div class="card-body mx-5">
                <!-- Profile information -->
                <div class="row row-cols-lg-1 gx-4 gx-lg-5 justify-content-center">
                    <div class="user-info col-xl-3">
                        <!-- Profile picture -->
                        <div class="profile-header">
                            <div class="profile-picture-container">
                                <img src="{{ current_user.profile_picture }}" alt="Profile Picture">
                            </div>
                        </div>
                        <h1 class="mb-3 mt-2 text-center">{{ current_user.name }}</h1> 
                        <div class="role-container text-center mt-3">
                            {% if current_user.id == 1 %}
                            <span class="p-1" style="
                            border: 2px solid #ffc839;
                            border-radius: 10px;
                            background-color: #ffc839;
                            color: #263449;">Admin</span>
                            {% elif current_user.id == 2 %}
                            <span class="p-1" style="
                            border: 2px solid #c966a9;
                            border-radius: 10px;
                            background-color: #c966a9;
                            color: #263449;">Moderator</span>
                            {% else %}
                            <span class="p-1" style="
                            border: 2px solid #2798c4;
                            border-radius: 10px;
                            background-color: #2798c4;
                            color: #263449;">User</span>
                            {% endif %}
                        </div>
                        <div class="pt-4 ps-4 mt-3 align-items-center">
                            <p>Joined: {{ current_user.when_joined.strftime("%d %B %Y") }}</p>
                            <p>Total comments: {{ current_user.comments|length }} </p>
                            <p>Email: {{ current_user.email }} </p>
                            <p>Location: 
                                {% if current_user.location == "" %}
                                <em class="opacity-50">Add <a href="#" onclick="toggleForm('editLocationForm')"><i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></a></em>
                                {% else %}
                                {{ current_user.location }} <a href="#" onclick="toggleForm('editLocationForm')"><i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></a></p>
                                {% endif %}
                            <form action="{{ url_for('profile')}}" method="POST" class="hidden" id="editLocationForm">
                                {{ form.csrf_token }}
                                {{ form.location }} {{ form.submit }}
                            </form>
                        </div>
                    </div>
                    <!-- Profile Bio -->
                    <div class="user-bio col-xl-6 mx-2">
                        <h4 class="mt-3">Bio:</h4>
                        {% if current_user.bio == "" %}
                        <em class="text-center mt-4 opacity-50">Add <a href="#" onclick="toggleForm('editBioForm')"><i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></a></em>
                        {% else %}
                        <p class="text-center mt-4">{{ current_user.bio }} <a href="#" onclick="toggleForm('editBioForm')"><i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></a></p>
                        {% endif %}
                            <form action="{{ url_for('profile')}}" method="POST" class="hidden" id="editBioForm">
                                {{ form.csrf_token }}
                                {{ form.bio }} {{ form.submit }}
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
