{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}

<main>
    <!-- Flash messeges -->
    <div class="flash mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash alert alert-{{ category }} mx-5" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <!-- Page Header-->
    <div class="card mx-5 my-3 border-0">
        <svg class="bd-placeholder-img card-img-top py-4 text-center text-light rounded-4" style="background-image: url(/static/assets/img/home.jpg);"></svg>
        <div class="container">
            <h2 class="my-4">Account</h2>
            <div style="display: none;">
                {{ form.set_default_username(current_user.name) }}
                {{ form.set_default_email(current_user.email) }}
                {{ form.set_default_profile_picture(current_user.profile_picture) }}
                {{ form.set_default_location(current_user.location) }}
                {{ form.set_default_bio(current_user.bio) }}
            </div>
            <div class="mx-4 mb-5">
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>
</main>


{% include "footer.html" %}
