{% include 'header.html' %}
{% from "bootstrap5/form.html" import render_form %}

<main>
    <!-- Page Header-->
    <div class="card mx-5 my-3 border-0">
        <svg class="bd-placeholder-img card-img-top py-4 text-center text-light rounded-4" style="background-image: url(/static/assets/img/home.jpg);"></svg>

        <!-- Flash messeges -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash alert alert-{{ category }} mx-5" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card-body">

                    <!-- Profile picture -->
                    <div class="profile-header">
                        <div class="profile-picture-container">
                            <img src="{{ user.profile_picture }}" alt="Profile Picture">
                        </div>
                    </div>
    
                <!-- Profile information -->
                <div class="profile-section mx-5 px-5 pt-3 d-flex flex-column align-items-center">
                    <h1 class="mb-3">{{ user.name }}</h1>
                    <p  class="text-center">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Aliquam nec placerat massa. Suspendisse ultrices pulvinar elementum. 
                        Nullam erat lectus, laoreet vitae accumsan ac, mollis et orci. Phasellus viverra euismod felis.</p>
                    <div class="user-info d-flex flex-column pt-2 mt-5 align-items-center justify-content-center">
                        <h4 class="pb-3">More info:</h4>
                        <p><strong>Role: {{ "Admin" if user.id == 1 else "User" }}</strong>
                        <i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i>
                        </p>
                        <p><strong>Locaton:</strong> Warsaw <i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></p>
                        <p><strong>Gender:</strong> Male <i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></p>
                        <p><strong>Total comments:</strong> {{ current_user.comments|length }} <i class="bi bi-pencil-fill opacity-50" style="font-size: 0.8rem;"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<main>
</main>

{% include "footer.html" %}
